@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./swiper.css);

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
}
@font-face {
  font-family: nouvelR;
  src: url("/static/fonts/NouvelR.Bold.ttf") format(ttf),
    url("/static/fonts/NouvelR.Book.ttf") format(ttf),
    url("/static/fonts/NouvelR.Extrabold.ttf") format(ttf),
    url("/static/fonts/NouvelR.Light.ttf") format(ttf),
    url("/static/fonts/NouvelR.Regular.ttf") format(ttf),
    url("/static/fonts/NouvelR.Semibold.ttf") format(ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
