
@tailwind base;

@tailwind components;
@tailwind utilities;
@import url(./swiper.css);

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }
  /* ... */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}